body {
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  margin: 10%;
  padding: 0;
  border: 1px solid #7e7e7e;
}

.heading {
  font-size: 18px;
  font-weight: 400;
  margin: 10px;
}
.input-add input {
  width: 100%;
  padding: 10px;
  border: none;
  font-style: italic;
  font-size: 18px;
}

ul {
  border: 1px solid rgb(238, 238, 238);
  margin: 0;
  padding: 0;
}

.list-el {
  display: flex;
  gap: 10px;
  border-bottom: 1px solid rgb(238, 238, 238);
  font-size: 18px;
}

.to-do button {
  width: 100%;
  padding: 15px;
  border: none;
  font-size: 18px;
}
