body {
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  margin: 10%;
  padding: 0;
  border: 1px solid #7e7e7e;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.heading {
  font-weight: 600;
  margin: 10px;
}

.input-add input {
  width: 100%;
  padding: 10px;
  border: none;
  font-style: italic;
  font-size: 18px;
}
.input-add {
  display: flex;
  justify-content: center;
  align-items: center;
}
.new-task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}

ul {
  border: 1px solid rgb(238, 238, 238);
  margin: 0;
  padding: 0;
}
.task {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.edit {
  padding: 5px;
  margin: 10px;
  border: none;
  font-size: 18px;
}

.to-do button {
  width: 100%;
  padding: 15px;
  border: none;
  font-size: 18px;
}
